@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}
/* body {
  border: 2px solid green;
} */

/* shared styles */

.display-flex {
  display: flex;
}
.display-none {
  display: none;
}

.orange {
  color: #fea301;
}
.yellow {
  color: rgba(240, 170, 0, 1);
}
.blue {
  color: rgba(100, 200, 255, 1);
}
.dark-purple {
  color: rgba(135, 0, 255, 1);
}
.sky-blue {
  color: #01acfd;
}
.aqua {
  color: rgba(5, 212, 223, 1);
}

.purple {
  color: rgba(93, 88, 239, 1);
}
#green {
  background: rgb(149, 178, 38);
}
#navy {
  background: rgb(93, 88, 240);
}
.card-1 {
  border: 0.94px solid rgb(222, 245, 255);

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.card-2 {
  border: 0.94px solid rgb(255, 244, 220);

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-3 {
  border: 0.94px solid rgb(242, 232, 255);

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.primary-btn {
  padding: 10px 47px 10px 47px;
  background: #fea301;
  border-radius: 12px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
main {
  background: url("assets/bg.png");
}

/* nav section styles */

.navbar {
  justify-content: space-around;
  align-items: center;
}

.navbar ul {
  gap: 32px;
}
.logo {
  align-items: center;

  gap: 11px;
}

.logo h3 {
  color: rgba(17, 17, 17, 1);
  font-family: "Quicksand", serif;
  font-size: 2rem;
  font-weight: bold;
}

.navbar .nav-items a {
  text-decoration: none;
}
.navbar .nav-links {
  list-style: none;
}

ul .nav-items a {
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 30px;
}
.nav-links a:hover {
  color: black;
}

/* banner section styles */

.banner {
  width: fit-content;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
}

.banner .banner-text {
  max-width: 640px;
}
.banner-image img {
  width: 100%;
}

.banner .title {
  font-family: "Quicksand", serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
}
.banner .description {
  color: #111111;
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.banner button {
  background: #111111;
}

/* curriculum section styles */
.curriculum {
  width: fit-content;
  margin: 0 auto;
  margin-top: 60px;
}

.curriculum-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.curriculum-title {
  color: rgb(0, 0, 0);
  font-family: "Quicksand", serif;
  font-size: 2.87rem;
  font-weight: 700;
  line-height: 57.5px;
  text-align: center;
  margin-bottom: 80px;
}

.card {
  width: 367px;
  height: 476px;
  box-sizing: border-box;
  border-radius: 18.86px;

  text-align: center;
}
.card-img {
  width: 100%;
  margin-top: 52px;
  margin-bottom: 32px;
}
.card-2 .elementary {
  background: url("icon/Vector\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
}
.card-3 .middle {
  background: url("icon/Vector\ \(2\).png");
  background-repeat: no-repeat;
  background-position: center;
}
.card-text h4 {
  color: rgb(32, 32, 32);
  font-family: "Quicksand", serif;
  font-size: 1.53rem;
  font-weight: 700;
  line-height: 30.65px;
}
.card-text p {
  color: rgb(128, 128, 128);
  font-family: "Raleway", serif;
  font-size: 0.993rem;
  font-weight: 500;
  line-height: 28.3px;
  margin-top: 33.48px;
  margin-bottom: 33.95px;
}
.card-text a {
  text-decoration: none;
  font-family: "Quicksand", serif;
  font-size: 0.94rem;
  font-weight: 700;
}
.card-text {
  max-width: 360px;
  text-align: center;
}
.arrow img {
  background: #fea301;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.arrow {
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.arrow-section {
  margin-top: 80px;
  margin-bottom: 60px;
}

/* our stories section  */

.stories {
  background: linear-gradient(
    0deg,
    rgba(254, 163, 1, 0.3),
    rgba(255, 255, 255, 0.3) 100%
  );
}

.stories h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Quicksand", serif;
  font-size: 2.87rem;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 80px;
}
.stories-container {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.box-2nd {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.box-2nd button {
  border-radius: 47.93px;
  background: rgb(60, 216, 232);
  padding: 14px;
  position: relative;
  top: -110px;
  left: 20px;

  font-size: 15.34px;
  font-family: "Raleway", serif;
  padding: 9px 10px;
}

.stories .box {
  width: 530px;
  height: 680px;

  border-radius: 16px;

  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  overflow: hidden;
}

.box img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}

.box .box-text h5 {
  color: rgb(0, 0, 0);
  font-family: "Quicksand", serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 38.35px;

  margin-top: 58px;
  margin-bottom: 47px;
}
.box .box-text p {
  color: rgb(102, 102, 102);
  font-family: "Raleway", serif;
  font-size: 15.34px;
  font-weight: 500;
  line-height: 28.76px;
}
.box-text {
  padding-left: 30px;
  padding-right: 30px;
}

.box .box-text {
  position: relative;
  top: -175px;
}
.box .primary-btn {
  border-radius: 47.93px;
  font-size: 15.34px;
  font-family: "Raleway", serif;
  background: rgb(60, 216, 232);
  padding: 14px;

  position: relative;
  top: -115px;
  left: 30px;
}

.box-2nd .box-1 {
  width: 290px;
  height: 328px;
  border-radius: 16px;

  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  overflow: hidden;
}
.box-text h6 {
  color: rgb(0, 0, 0);
  font-family: "Quicksand", serif;
  font-size: 15.34px;
  font-weight: 700;
  line-height: 28.76px;
  position: relative;
  top: -160px;
  right: 8px;
}

.stories button {
  background: #111111;
  align-content: center;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 60px;
}
marquee {
  background-color: rgba(254, 161, 1, 0.414);
  font-size: 1.5rem;
}

/* footer section  styles */

.footer-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  margin: 0 auto;
  margin-right: 150px;
  margin-left: 150px;

  gap: 50px;
}

footer {
  background: rgb(1, 172, 253);
}

.footer-logo {
  align-items: center;
}
.footer-logo span {
  color: rgb(255, 255, 255);
  font-family: "Quicksand", serif;
  font-size: 2.63rem;
  font-weight: 700;
  line-height: 39.51px;
  margin-left: 10px;
}
.footer-contain p {
  color: rgb(255, 255, 255);
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  margin-left: 7px;
  margin-top: 35px;
}

.footer-contain h6 {
  color: rgb(255, 255, 255);
  font-family: "Quicksand", serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 30px;
}

.footer-contain ul li {
  list-style: none;
  margin-bottom: 20px;
}

.footer-contain ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Quicksand", serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 25px;
  gap: 20px;
}
.footer-contain ul {
  margin-top: 32px;
}
.footer-contain .icon {
  margin-top: 32px;
}
.footer-contain .icon img {
  cursor: pointer;
  width: 40px;
  margin-right: 10px;
}
.footer-main {
  padding-top: 123px;
  padding-bottom: 124px;
  gap: 200px;
}

/* small device responsive */

@media screen and (max-width: 576px) {
  .navbar h3 {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .navbar button {
    display: none;
  }
  .logo img {
    width: 46px;
    height: 46px;
  }

  .menu-icon {
    display: block;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  .navbar {
    padding: 20px 0px 20px 0px;
    border-bottom: 0.5px solid rgb(254, 163, 1);
  }

  .banner {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-text {
    text-align: center;
  }
  .banner .banner-text {
    max-width: 315px;
  }

  .banner .title {
    font-size: 2rem;
    line-height: 40px;
  }
  .banner .description {
    font-size: 0.87rem;
    line-height: 18px;
  }
  .banner-image {
    width: 70%;
  }

  .curriculum-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .curriculum-title {
    font-size: 26px;
  }
  .card {
    max-width: 310px;
    height: 321px;
  }
  .card img {
    width: 92.6px;
    margin-top: -26px;
  }
  .card-text h4 {
    font-size: 16.25px;
    margin-top: -20px;
  }
  .card-text p {
    font-size: 10.22px;
    line-height: 19.16px;
    margin-top: 10px;
  }

  .card-text a {
    font-size: 10.22px;
  }
  .arrow-section {
    display: none;
  }

  .box {
    display: none;
  }
  .box-1 {
    display: block;
  }
  .box-2nd {
    grid-template-columns: repeat(2, 1fr);

    margin-left: 20px;
    margin: auto;
    gap: 10px;
    margin-right: -30px;
  }
  .stories-container {
    margin-left: 5px;
  }
  .box-2nd .box-1 {
    max-width: 178px;
    max-height: 194px;
  }
  .box-1 img {
    width: 100%;
    object-fit: cover;
  }
  .box-text h6 {
    font-size: 9.13px;
    line-height: 12.12px;

    position: relative;
    top: -160px;
    right: 7px;
  }
  .box-1 button {
    font-size: 9.13px;
    padding: 2px 4px;
    position: relative;
    top: -105px;
  }
  .footer-main {
    grid-template-columns: repeat(1, 300px);
    margin: auto;
    width: 100%;
    gap: 20px;
    padding-left: 20px;
  }

  .footer-logo img {
    max-width: 58px;
  }
  .footer-logo span {
    color: rgb(255, 255, 255);

    font-size: 35.73px;
    font-weight: 700;
    line-height: 33.5px;
    margin-left: 5px;
  }

  .footer-main {
    margin-bottom: 61px;
    gap: 0px;
  }

  .footer-contain p {
    font-size: 1rem;
    margin-top: 22px;
  }
  .footer-contain h6 {
    font-size: 1.27rem;
    margin-top: 32px;
  }
  .footer-contain ul a {
    font-size: 1rem;
  }

  .footer-contain li {
    margin-bottom: 17px;
  }
  .footer-contain ul {
    margin-top: 27px;
  }
  .footer-contain .social-link {
    margin-top: -30px;
  }

  .footer-contain .margin {
    margin-bottom: -10px;
  }
  .footer-contain .icon {
    margin-top: 36px;
  }
}

/* small device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .curriculum-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .box {
    display: none;
  }
  .box-1 {
    display: block;
  }
  .box-2nd {
    grid-template-columns: repeat(3, 275px);
  }

  .footer-main {
    grid-template-columns: repeat(1, 600px);
    margin: auto;
    width: 100%;
    gap: 20px;
    padding-left: 20px;
  }

  .navbar h3 {
    display: none;
  }
  .nav-items {
    display: none;
  }
  .navbar button {
    display: none;
  }
  .logo img {
    width: 60px;
    height: 60px;
  }

  .menu-icon {
    display: block;
  }
  .menu-icon img {
    width: 50px;
  }
  .logo {
    display: flex;
    justify-content: space-between;
  }
  .navbar {
    padding: 20px 0px 20px 0px;
    border-bottom: 0.5px solid rgb(254, 163, 1);
  }

  .banner {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .banner-text {
    text-align: center;
  }
  .banner .banner-text {
    max-width: 715px;
    max-height: 700px;
  }

  .banner .description {
    font-size: 1.8rem;
  }
  .banner-image img {
    width: 700px;
    height: 500px;
    object-fit: cover;
  }
  marquee {
    font-size: 1.5rem;
  }

  .footer-contain p {
    font-size: 1.5rem;
    margin-top: 22px;
  }
  .footer-contain h6 {
    font-size: 2.75rem;
    margin-top: 32px;
  }
  .footer-contain ul a {
    font-size: 1.5rem;
  }
  .box-1 button {
    font-size: 9.13px;
    padding: 2px 4px;
    position: relative;
    top: -105px;
  }
  .box-text h6 {
    position: relative;
    top: -140px;
    right: 7px;
  }
}
